---
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    commit-message:
      prefix: "build(github-actions)"

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    versioning-strategy: increase
    commit-message:
      prefix: "build(deps)"
    allow:
      - dependency-name: "@salesforce/source-deploy-retrieve"
