.stryker-tmp
.wireit
*-debug.log
*-error.log
/.nyc_output
/e2e
/lib
/node_modules
/reports
/test
install-state.gz
megalinter-reports/
package.tgz
perf-preview.html
perf-raw.json
perf-result.txt
perf-runtime.json
perf-memory.json
sfdx-git-delta-*.tgz
stderr*.txt
stdout*.txt
tsconfig.tsbuildinfo
