---
name: Dependency Update CI

on:
  pull_request:
    branches:
      - main
    paths:
      - "package.json"
      - "package-lock.json"

permissions:
  contents: 'read'

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:
    uses: ./.github/workflows/reusable-build.yml
    secrets: inherit
