---
name: Main

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
      - "img/**"

permissions:
  contents: 'read'
  id-token: 'write'

jobs:
  build:
    uses: ./.github/workflows/reusable-build.yml
    secrets: inherit

  prepare-release:
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.RELEASE_PAT }}
          release-type: node
