name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  build-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'

      - name: Cache prep
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Cache yarn
        uses: actions/cache@v3
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn install --immutable --immutable-cache --check-cache

      - name: Lint sources
        uses: wearerequired/lint-action@v1
        with:
          eslint: true
        continue-on-error: true

      - name: Build plugin
        run: yarn pack

      - name: Unit test
        run: yarn test:coverage --runInBand

      - name: Upload coverage
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
        continue-on-error: true

  installation-check:
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        node: [14, 16]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      
      - name: Install sfdx-cli
        run: |
          yarn global add sfdx-cli
          echo "$(yarn global bin)" >> $GITHUB_PATH

      - name: Install dependencies
        run: yarn install --immutable --immutable-cache --check-cache --prod

      - name: Install build dependencies
        run: yarn add @salesforce/dev-config typescript

      - name: Build plugin
        run: yarn pack

      - name: Install plugin
        run: sfdx plugins:link .

      - name: Installation test
        run: sfdx sgd:source:delta --help

  commit-lint:
    runs-on: ubuntu-latest
    if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Lint commits
        uses: wagoid/commitlint-github-action@v4
        continue-on-error: true

  pull-request-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Lint PR
        uses: amannn/action-semantic-pull-request@v1.2.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
